@media screen and (max-width: 767px) {
  .about-list {
    flex-wrap: wrap;
    gap: 30px;
  }
  .about {
    @include font(700, 14px, 16px);
    text-transform: uppercase;
    color: var(--title-color);
    margin-bottom: 10px;
    text-align: center;
  }
  .about__description {
    @include font(400, 14px, 24px);
    flex-wrap: wrap;
    height: 70px;
  }
  .feature-icon {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--background-icon);
  }
  .feature-icon__item {
    display: flex;
    flex-wrap: wrap;
    width: 70px;
    height: 70px;
  }
  .about-list__item {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .about-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.about {
@include font(700, 14px, 16px);
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}
.about__description {
  @include font(400, 14px, 24px);
  flex-wrap: wrap;
  width: 270px;
  height: 70px;
}
.feature-icon {
  flex-wrap: wrap;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: var(--background-icon);
}
.feature-icon__item {
  display: flex;
  flex-wrap: wrap;
  width: 70px;
  height: 70px;
}
.about-list__item {
  flex-basis: calc((100% - (2 - 1) * 30px) / 2);}
}

@media screen and (min-width: 1200px) {
  .about-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.about {
@include font(700, 14px, 16px);
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}

.about__description {
  @include font(400, 14px, 24px);
  flex-wrap: wrap;
  width: 270px;
  height: 70px;
}

.feature-icon {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-icon);
}

.feature-icon__item {
  display: flex;
  flex-wrap: wrap;
  width: 70px;
  height: 70px;
}
.about-list__item {
  flex-basis: calc((100% - (2 - 1) * 30px) / 5);}
}

// .about-list {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 30px;
// }

// .about {
// @include font(700, 14px, 16px);
//   text-transform: uppercase;
//   color: var(--title-color);
//   margin-bottom: 10px;
// }

// .about__description {
//   @include font(400, 14px, 24px);
//   flex-wrap: wrap;
//   width: 270px;
//   height: 70px;
// }

// .feature-icon {
//   flex-wrap: wrap;
//   @extend %align;
//   height: 120px;
//   margin-bottom: 30px;
//   background-color: var(--background-icon);
// }

// .feature-icon__item {
//   display: flex;
//   flex-wrap: wrap;
//   width: 70px;
//   height: 70px;
// }
