@media screen and (max-width: 767px) {
.footer {
  background-color: var(--hero-color);
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
.footer__logo {
  font-family: "Raleway", sans-serif;
  @include font(700, 26px, 31px);

  color: var(--text-primary-color);
  display: block;
  margin-bottom: 20px;
}
.address {
  font-style: normal;
}
.address__contact {
  align-items: baseline;
  margin-bottom: 60px;

}
.footer__list :last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
}
.footer__list:not(:last-child) {
  margin-bottom: 9px;
}
.footer__list{
padding-left: auto;
padding-right: auto;
}
.maps-go {
  @include font(400, 14px, 24px);
  color: var(--text-primary-color);
}
.footer__list-mail,
.footer__list-phone {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-dur-and-func);
}
.mail-link:hover,
.mail-link:focus,
.footer__list-mail:hover,
.footer__list-mail:focus {
  color: var(--active-color);
}
.footer__address-social {
  align-items: baseline;
  justify-content: space-between;
}
}



@media screen and (min-width: 768px) {
.footer {
  background-color: var(--hero-color);
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
.maps-go {
  @include font(400, 16px, 24px);
  color: var(--text-primary-color);
}
.footer__list-mail,
.footer__list-phone {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-dur-and-func);
}
.mail-link:hover,
.mail-link:focus,
.footer__list-mail:hover,
.footer__list-mail:focus {
  color: var(--active-color);
}
.footer__logo {
  font-family: "Raleway", sans-serif;
  @include font(700, 26px, 31px);

  color: var(--text-primary-color);
  display: block;
  margin-bottom: 20px;
}
.address {
  font-style: normal;
}

.address__contact {
  align-items: baseline;
  margin-bottom: 60px;
}
.footer__list :last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
}
.footer__list:not(:last-child) {
  margin-bottom: 9px;
}

}


@media screen and (min-width: 1200px) {

.footer {
  background-color: var(--hero-color);
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: left;
}

.maps-go {
  @include font(400, 16px, 24px);
  color: var(--text-primary-color);
}

.footer__list-mail,
.footer__list-phone {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-dur-and-func);
}
.mail-link:hover,
.mail-link:focus,
.footer__list-mail:hover,
.footer__list-mail:focus {
  color: var(--active-color);
}

.footer__logo {
  font-family: "Raleway", sans-serif;
  @include font(700, 26px, 31px);

  color: var(--text-primary-color);
  display: block;
  margin-bottom: 20px;
}

.address {
  font-style: normal;
}

.address__contact {
  margin-bottom: 0;
}

.footer__list :last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
}
.footer__list:not(:last-child) {
  margin-bottom: 9px;
}


}