.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-item {
  width: calc((100% - 90px) / 4);
  background-color: var(--bg-color);
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:nth-child(4n) {
    margin-right: 0;
  }
}

.team {
  background-color: var(--button-bg-color);
}
.team-name {
  padding-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-position {
  margin-top: 0;
  margin-bottom: 16px;
  padding: 0;
  line-height: 1.18;
  text-align: center;
  color: var(--secondary-text-color);
}
.team-social-list {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 0px;
  padding-bottom: 30px;
}

.team-social-item {
  display: flex;

  justify-content: center;
}

.team-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--icon-color);
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--bg-color);
    background-color: var(--active-color);
  }
}

.team-social-icon {
  width: 20px;
  height: 20px;
}
