@media screen and (max-width: 767px) {
  .team {
    background: #f5f4fa;
  }
  .team-item {
    background-color: var(--text-primary-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .employees {
    margin-top: 50px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    width: 100%;
  }
  .employees__name {
    @include font(500, 16px, 19px);

    text-align: center;
    color: var(--title-color);
    margin-bottom: 10px;
    padding-top: 30px;
  }
  .employees__position {
    @include font(400, 16px, 19px);

    text-align: center;
    margin-bottom: 16px;
  }
  .team-social__list {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 0px;
    padding-bottom: 30px;
  }
  .team__social {
    display: flex;
    justify-content: center;
  }
  .team-social__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--icon-color);
    transition: background-color var(--transition-dur-and-func),
      fill var(--transition-dur-and-func);
    &:hover,
    &:focus {
      fill: var(--text-primary-color);
      background: var(--active-color);
    }
  }

  .team-social__icon {
    width: 20px;
    height: 20px;
  }
  .section__title {
    @include font(700, 28px, 33px);
    text-align: center;
    color: var(--title-color);
  }
}

@media screen and (min-width: 768px) {
  .team {
    background: #f5f4fa;
  }
  .team-item {
    background-color: var(--text-primary-color);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .employees {
    margin-top: 50px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
  .employees__name {
    @include font(500, 16px, 19px);

    text-align: center;
    color: var(--title-color);
    margin-bottom: 10px;
    padding-top: 30px;
  }
  .employees__position {
    @include font(400, 16px, 19px);

    text-align: center;
    margin-bottom: 16px;
  }
  .team-social__list {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 0px;
    padding-bottom: 30px;
  }
  .team__social {
    display: flex;
    justify-content: center;
  }
  .team-social__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--icon-color);
    transition: background-color var(--transition-dur-and-func),
      fill var(--transition-dur-and-func);
    &:hover,
    &:focus {
      fill: var(--text-primary-color);
      background: var(--active-color);
    }
  }
  .team-social__icon {
    width: 20px;
    height: 20px;
  }
  .section__title {
    @include font(700, 28px, 33px);
    text-align: center;
    color: var(--title-color);
  }
}

@media screen and (min-width: 1200px) {
  .team {
    background: #f5f4fa;
  }
  .team-item {
    background-color: var(--text-primary-color);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .employees {
    margin-top: 50px;
    display: flex;
    gap: 30px;
    flex-wrap: nowrap;
  }
  .employees__name {
    @include font(500, 16px, 19px);

    text-align: center;
    color: var(--title-color);
    margin-bottom: 10px;
    padding-top: 30px;
  }
  .employees__position {
    @include font(400, 16px, 19px);

    text-align: center;
    margin-bottom: 16px;
  }
  .team-social__list {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 0px;
    padding-bottom: 30px;
  }
  .team__social {
    display: flex;
    justify-content: center;
  }
  .team-social__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--icon-color);
    transition: background-color var(--transition-dur-and-func),
      fill var(--transition-dur-and-func);
    &:hover,
    &:focus {
      fill: var(--text-primary-color);
      background: var(--active-color);
    }
  }
  .team-social__icon {
    width: 20px;
    height: 20px;
  }
}
// .team {
//   background: #f5f4fa;
// }

// .team-item {
//   background-color: var(--text-primary-color);
// }

// .employees {
//   margin-top: 50px;
//   display: flex;
//   gap: 30px;
// }

// .employees__name {
//   @include font(500, 16px, 19px);

//   text-align: center;
//   color: var(--title-color);
//   margin-bottom: 10px;
//   padding-top: 30px;
// }

// .employees__position {
//   @include font(400, 16px, 19px);

//   text-align: center;
//   margin-bottom: 16px;
// }

// .team-social__list {
//   display: flex;
//   gap: 10px;
//   justify-content: center;
//   margin: 0px;
//   padding-bottom: 30px;
// }

// .team__social {
//   display: flex;
//   justify-content: center;
// }

// .team-social__link {
//   width: 44px;
//   height: 44px;
//   border-radius: 50%;
//   @extend %align;
//   fill: var(--icon-color);
//   transition: background-color var(--transition-dur-and-func),
//     fill var(--transition-dur-and-func);
//   &:hover,
//   &:focus {
//     fill: var(--text-primary-color);
//     background: var(--active-color);
//   }
// }

// .team-social__icon {
//   width: 20px;
//   height: 20px;
// }
