body {
  background-color: var(--bg-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

.header {
  margin-top: 0;
  margin-bottom: 0;
}
