:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --active-color: #2196f3;
  --bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --black-color: #000000;
  --button-bg-color: #f5f4fa;
  --hero-btn-bg-color: #188ce8;
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --border-color: #eeeeee;
  --icon-color: #afb1b8;
  --icon-bg-color: rgba(255, 255, 255, 0.1);
  --header-border-color: #ececec;
  --wrapper-color: rgba(33, 150, 243, 0.9);
}